---
// export interface Props {
// 	title: string;
// }

// const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="atom-one-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=JetBrains+Mono&family=Noto+Sans+Mono&family=Red+Hat+Mono&family=Roboto+Mono&family=Share+Tech+Mono&family=Source+Code+Pro&family=Space+Mono&family=Ubuntu+Mono&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Code Snippets</title>
  </head>
  <body>
    <slot />
    <style is:global lang="scss">
      @use "sass:meta";

      html[data-theme="github"] {
        @include meta.load-css("highlight.js/styles/github");
      }
      html[data-theme="atom-one-dark"] {
        @include meta.load-css("highlight.js/styles/atom-one-dark");
      }
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
