<!DOCTYPE html>
<html lang="en" data-theme="atom-one-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=JetBrains+Mono&family=Noto+Sans+Mono&family=Red+Hat+Mono&family=Roboto+Mono&family=Share+Tech+Mono&family=Source+Code+Pro&family=Space+Mono&family=Ubuntu+Mono&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Code Snippets</title>
  </head>
  <body>
    <slot />
    <style is:global lang="scss">
      @use "sass:meta";

      html[data-theme="atom-one-dark"] {
		  @include meta.load-css("highlight.js/styles/atom-one-dark");
		}
		html[data-theme="atom-one-light"] {
			@include meta.load-css("highlight.js/styles/atom-one-light");
		}
		html[data-theme="github"] {
		  @include meta.load-css("highlight.js/styles/github");
		}
      html[data-theme="github-dark"] {
        @include meta.load-css("highlight.js/styles/github-dark");
      }
      html[data-theme="monokai"] {
        @include meta.load-css("highlight.js/styles/monokai");
      }
      html[data-theme="nord"] {
        @include meta.load-css("highlight.js/styles/nord");
      }
      html[data-theme="xcode"] {
        @include meta.load-css("highlight.js/styles/xcode");
      }
      html[data-theme="googlecode"] {
        @include meta.load-css("highlight.js/styles/googlecode");
      }
      html[data-theme="a11y-dark"] {
        @include meta.load-css("highlight.js/styles/a11y-dark");
      }
      html[data-theme="a11y-light"] {
        @include meta.load-css("highlight.js/styles/a11y-light");
      }
      html[data-theme="night-owl"] {
        @include meta.load-css("highlight.js/styles/night-owl");
      }
      html[data-theme="obsidian"] {
        @include meta.load-css("highlight.js/styles/obsidian");
      }
      html[data-theme="tokyo-night-dark"] {
        @include meta.load-css("highlight.js/styles/tokyo-night-dark");
      }
      html[data-theme="tokyo-night-light"] {
        @include meta.load-css("highlight.js/styles/tokyo-night-light");
      }
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
